/* General structural elements                    */

/* structure */

.login-success-center{
    text-align: center;
}
/*text*/


p{
    font-family: 'Crimson Text', serif;
    font-size: 23px;
    text-align: left;
}
.fat-secret-font{
    color: #81C784;
}

/* list items */
ul.features > li {
    list-style-type: circle !important;
    text-align: left;
    font-family: 'Crimson Text', serif;
    font-size: 23px;
}

.material-icons{
    display: inline-flex;
    vertical-align: middle;
}

/*HEADERS*/

.header-align{
    text-align: left;
}

.collapsible-header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mt1em{
    margin-top: 1.2em;
}

.title-header {
    width: 100%;
}

.recipe-header{
    font-size: 20px;
}
/* Navbar*/

/* drop down collapsible*/

.dropdown-button:hover{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.dropdown-button{
    padding: 5px;

}

/*buttons */
.edit-delete-buttons-container{
    text-align: center;
}
.edit-delete-buttons{
    display: inline-block;
}
/* menu options*/


.material-icons{
    padding: 10px;
}
