/* General structural elements                    */

/* structure */
.container{
    text-align: center;
}

/*text*/
p{
    font-family: 'Crimson Text', serif;
    font-size: 23px;
}


/*HEADERS*/
.collapsible-header{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Navbar*/

/* drop down collapsible*/

.dropdown-button:hover{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

dropdown-button{
    padding: 5px;

}

/* menu options*/


.material-icons{
    padding: 10px;
}
