/* Navbar*/

/* drop down collapsible*/

.dropdown-button:hover{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

dropdown-button{
    padding: 5px;

}

/* menu options*/


.material-icons{
    padding: 10px;
}
