<!DOCTYPE html>
<html>

<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import Google Font for Paragraphs-->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!--Optimize for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>Recipe hub</title>
</head>

<body>
    <header>
        <!-- nav element here -->
        <nav>
            <div class="nav-wrapper green lighten-2 ">
                <a href="{{url_for('home')}}" class="brand-logo">Recipe Hub</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipe') }}">Find a Recipe</a></li>
                    <li><a href="{{ url_for('add_recipe') }}"></a>Add a Recipe</li>
                    <li><a href="#">Calorie Counter</a></li>
                    <li><a href="{{url_for('login_landing')}}">Login</a></li>
                </ul>
                <a class='dropdown-trigger right hide-on-large-only dropdown-button' href='#' data-target='dropdown1'><i class="material-icons hoverable">menu</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="{{url_for('get_recipe')}}">Find a Recipe</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('add_recipe') }}"></a>Add a Recipe</li>
                    <li class="divider"></li>
                    <li><a href="#">Calorie Counter</a></li>
                    <li class="divider"></li>
                    <li><a href="{{url_for('login_landing')}}">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <main>
        {% block content %} {% endblock %}
        
    </main>


    <footer>

    </footer>
    
    <!-- Compiled and minified JavaScript -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>