<!DOCTYPE html>
<html>
    <head>
        
        
        
        
        
        
        <title>Recipe hub</title>
    </head>
    <body>
        <header>
            <h1 class="title">Recipe hub</h1>
            <p class="sub-heading">A place for you and your friends to share recipes</p>
            <!-- nav element here --> 
        </header>
        <main>
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </main>
        
        
        <footer>
            
        </footer>
    </body>
</html>