<!DOCTYPE html>
<html lang=en>

<head>

    <!--Import Google Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import Google Font for Paragraphs-->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <!--Import Google Font for Headers -->
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!--Optimize for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>Recipe hub</title>
</head>

<body>
    <header>
        <!-- nav element here -->
        <nav>
            <div class="nav-wrapper green lighten-2 ">
                <a href="{{url_for('home')}}" class="brand-logo headers">Recipe Hub</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="headers" href="{{ url_for('get_recipe') }}">Find a Recipe</a></li>
                    <li><a class="headers" href="{{ url_for('add_recipe') }}">Add a Recipe</a></li>
                    <li><a class="headers" href="{{url_for('fatsecret')}}">Calorie Counter</a></li>
                    <li><a class="headers" href="{{url_for('login_landing')}}">Login/Register</a></li>
                </ul>
                <a class='dropdown-trigger right hide-on-large-only dropdown-button' href='#' data-target='dropdown1'><i class="material-icons hoverable">menu</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a class="headers" href="{{url_for('get_recipe')}}">Find a Recipe</a></li>
                    <li class="divider"></li>
                    <li><a class="headers" href="{{ url_for('add_recipe') }}">Add a Recipe</a></li>
                    <li class="divider"></li>
                    <li><a class="headers" href="{{url_for('fatsecret')}}">Calorie Counter</a></li>
                    <li class="divider"></li>
                    <li><a class="headers" href="{{url_for('login_landing')}}">Login/Register</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <main class="main-content">
        {% block content %} {% endblock %}
        
    </main>


    <footer class="page-footer green lighten-2">
        <div class="container valign-wrapper">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text headers">Recipe Hub</h5>
                    <p class="grey-text text-lighten-4">
                    Here at Recipe Hub we are dedicated to providing a platform for you, our community, to create, update and delete your own recipes. 
                    As well as view recipes belonged to others. 
                    The goal of this community is to use a centralised location to store recipes from all corners of globe. </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text headers">Handy Links</h5>
                    <br>
                    <ul>
                        <li><a class="grey-text text-lighten-3 mainscreen-anchors" href="https://www.fatsecret.com/">Fat Secret&trade;</a></li>
                        
                        <li><a class="grey-text text-lighten-3 mainscreen-anchors" href="https://www.safefood.eu/Home.aspx">Safe Food EU</a></li>
                        
                        <li><a class="grey-text text-lighten-3 mainscreen-anchors" href="https://www.goodfoodireland.ie/recipes">Good Food Ireland</a></li>
                       
                        <li><a class="grey-text text-lighten-3 mainscreen-anchors" href="https://www.bordbia.ie/">Bord Bia</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Not Actually Copyrighted Developing
                <ul>
                    <li><a class="grey-text text-lighten-4 right" href="https://github.com/Didgerydont"><img src="https://img.icons8.com/ios/50/000000/github.png" alt="Github Link"></a></li>
                    
                    <li><a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/william-p-9a576417a"><img src="https://img.icons8.com/android/24/000000/linkedin.png" alt="Github Link"></a></li>
                </ul>
            </div>
            
        </div>
    </footer>
    
    <!-- Compiled and minified JavaScript -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>