{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="add-recipe-container">
        <form method="POST" action="{{ url_for('update_recipe', recipe_id=recipe._id) }}">
            {{ form.csrf_token }}
            <h4 class="headers center">You can edit your recipe below</h4>
            <br>
            <ul class="add-recipe-form">
                <li class="add-recipe-li">
                    <div><h5 class="headers">Title</h5></div>
                    {{ form.recipe_title }}
                </li>
                <br>
                <li class="add-recipe-li"> 
                    <div><h5 class="headers">Ingredients</h5></div>
                    {{ form.recipe_ingredients }}    
                </li>
                <br>
                <li class="add-recipe-li">
                    <div><h5 class="headers">Description</h5></div>
                    {{ form.recipe_description }}
                </li>
                <br>
                <li class="add-recipe-li">
                    <div><h5 class="headers">Method</h5></div>
                    {{ form.recipe_method }}
                </li>
                <br>
                <li class="add-recipe-li">
                    <div><h5 class="headers">Meal Type</h5></div>
                    {{ form.recipe_meal_type }}
                </li>
                <br>
                <li class="add-recipe-li">
                    <div><h5 class="headers">Servings</h5></div>
                    {{ form.recipe_serves }}
                </li>
                <br>
                <li class="add-recipe-li">
                    <div><h5 class="headers">Preperation Time</h5></div>
                    {{ form.recipe_preptime }}
                </li>
                <br>
                <li class="add-recipe-li">
                    <div><h5 class="headers">Cooking Time</h5></div>
                    {{ form.recipe_cooktime }}
                </li>
                <br>
                <li class="add-recipe-li">
                    <div><h5 class="headers">Country of Origin</h5></div>
                    {{ form.recipe_origin }}
                </li>
                <br>
                
            </ul>
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <button type="submit" class="btn btn-primary btn-block green lighten-2 center">Submit</button>
                    </div>
                    <div class="col s6">
                        <button type="reset" class="btn btn-primary btn-block red lighten-2 center">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}