{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="header col-12">
        <h3 class="center">Calorie Counter</h3>
        <p class="center">In conjuction with our partners over at <a class="fat-secret-font" href="fatsecret.com">Fatsecret.com</a></p> 
    </div>
</div>
<div class="container">
    <div class="fatsecret-container">
        <div id="search"></div>
        <div id="food_title"></div>
        <div id="nutrition_panel"></div>
    </div>
</div>






<script src="https://platform.fatsecret.com/js?key=9f706926f256460dad2ece0ce6170cc4&auto_template=false"></script>
<script src="{{ url_for('static', filename='js/fatSecretApi.js') }}"></script>
<!-- e.g.: render a search input: -->
<script>fatsecret.writeHolder("search");</script>

<!-- e.g.: render the name of a food: -->
<script>fatsecret.writeHolder("foodtitle");</script>

<!-- e.g.: render a food nutrition panel: -->
<script>fatsecret.writeHolder("nutritionpanel");</script>
<script>
    fatsecret.addRef("search", "search");
    fatsecret.addRef("foodtitle", "food_title");
    fatsecret.addRef("nutritionpanel", "nutrition_panel");
</script>

{% endblock %}