{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="headers col-12">
        <h3 class="center">Calorie Counter</h3>
        <p class="center">In conjuction with our partners over at <a class="fat-secret-font" href="fatsecret.com">Fatsecret.com</a></p> 
        <p class="center"><span style="color:red;">***</span> Setting up an account through this form will create an account with Fatsecret and not with this site.</p>
        <p class="center"> Please review their privacy policies before creating an account</p>
        <br>
    </div>
    <div class="">

    </div>
</div>
<div class="container">
    <div class="fatsecret-container">
        <script src="https://platform.fatsecret.com/js?key=9f706926f256460dad2ece0ce6170cc4&auto_load=true"></script>
        
    </div>
    <br>
</div>


{% endblock %}