{% extends 'base.html'%} {% block content %}

<div class="randomimage">

</div>

<div class="container">
    <h2 class="header-align headers">About us</h2>
    <p>
        Here at Recipe Hub we are dedicated to providing a platform for you, our community, to create, update and delete your own recipes. 
        As well as view recipes belonged to others. 
        The goal of this community is to use a centralised location to store recipes from all corners of globe. 
    </p>
</div>

<div class="container index-features">
    <h3 class="header-align headers">Features</h3>
    <p>Here are the features that you can look forward to on our site</p>
    <ul class="features browser-default">
        <li><p>Log in with your own personal user profile</p></li>
        <li><p>Create, update and delete your own recipes as well as read other community members ideas</p></li>
        <li><p>We have teamed up with the good people over at FatSecret&trade; so that you have a built in calorie counter in order to know exactly how many you are eating</p></li>
    </ul>

</div>



{% endblock %}