{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('logging_in') }}">
                <div class="form-group">
                    <ul>
                        <li>{{ form.login_username }} {{ form.login_username.label }}</li>
                        <li>{{ form.login_password }} {{ form.login_password.label }}</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary btn-block green lighten-2">Log In</button>
            </form>
            <br>
            <div>
                <h4>Don't have an account?</h4><a class="mainscreen-anchors" href="{{ url_for('registration_landing') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}