{% extends 'base.html' %}
{% block content %}
<div class="row">
    <nav class="-search-bar">
        <div class="nav-wrapper #f0f4c3 lime lighten-4">
            <form id="search-form" action="{{ url_for('search_bar') }}" method="POST" class="col s12">
            <div class="input-field">
                    <input class="search-bar" type="search" name="search_text" placeholder="Looking for something in particular?" required>
                        <i class="material-icons" id="sendForm" for="submit-form">search</i>
                        
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="row">
    <div class="container">
        <ul>
            {% for recipe in recipes %} 
            {{recipe.title}}
                <li>
                    {{recipe.description}}
                    {{recipe.method}}
                    {{recipe.ingredients}}
                    {{recipe.meal}}
                    {{recipe.serves}}
                    {{recipe.prep_time}}
                    {{recipe.country_of_origin}}
                    {{recipe.user_name}}
                    {{recipe.last_modified}}

                    
                </li>
            
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="container">    
        <ul class="collapsible">
        {% for recipe in recipes %} 
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        {% endfor %}
        </ul>

    </div>
</div>



{% endblock %}