{% extends 'base.html' %}
{% block content %}
<div class="row">
    <nav class="-search-bar">
        <div class="nav-wrapper #f0f4c3 lime lighten-4">
            <form id="search-form" action="{{ url_for('search_bar') }}" method="POST" class="col s12">
            <div class="input-field">
                    <input class="search-bar" type="search" name="search_text" placeholder="Looking for something in particular?" required>
                        <i class="material-icons" id="sendForm" for="submit-form">search</i>
                        
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="container">
    <ul>
        {% for recipe in recipes %} 
        {{recipe.title}}
            <li>
                {{recipe.description}}
                
            </li>
        
        {% endfor %}

    </ul>
</div>


{% endblock %}