{% extends 'base.html' %}
{% block content %}
<div class="row">
    <nav class="-search-bar">
        <div class="nav-wrapper #f0f4c3 lime lighten-4">
            <form id="search-form" action="" method="POST" class="col s12">
            <div class="input-field">
                    <input class="search-bar" type="search" name="search_text" placeholder="Looking for something in particular?" required>
                        <i class="material-icons" id="sendForm" for="submit-form">search</i>
                        
                </div>
            </form>
        </div>
    </nav>
</div>

<div class="row">
    <div class="container find-recipe-container">
        <h2 class="center">Recipe Directory</h2>  
        <ul class="collapsible">
        {% for recipe in recipes %} 
            <li>
                <div class="collapsible-header title-header">
                    <div class="row">
                        <div class="col s2 mt1em"><i class="material-icons">expand_more</i></div>
                        <div class="col s10 header-align"><h3 class="recipe-header browser-default">{{recipe.title}}</h3></div>
                    </div>
                </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-image">
                                    </div>
                                    <div class="card-content recipe-description">
                                        <h4 class="recipe-header">Description</h4>
                                        <p>{{recipe.description}}</p>

                                    </div>
                                    <br>    
                                    <div class="card-content recipe-method">
                                        <h4 class="recipe-header">Method</h4>
                                        <p>{{recipe.method}}</p>

                                    </div>
                                    <br>
                                    <div class="card-content recipe-ingredients">
                                        <h4 class="recipe-header">Ingredients</h4>
                                        <p>{{recipe.ingredients}}</p>

                                    </div>
                                    <br>
                                    <div class="card-content recipe-meal">
                                        <h4 class="recipe-header">Meal Type</h4>
                                        <p>{{recipe.meal}}</p>

                                    </div>
                                    <br>
                                    <div class="card-content recipe-serves">
                                        <h4 class="recipe-header">Servings</h4>
                                        <p>{{recipe.serves}}</p>

                                    </div>
                                    <br>
                                    <div class="card-content recipe-prep-time">
                                        <h4 class="recipe-header">Preperation Time</h4>
                                        <p>{{recipe.prep_time}}</p>

                                    </div>
                                    <br>
                                    <div class="card-content recipe-cooking-time">
                                        <h4 class="recipe-header">Cooking Time</h4>
                                        <p>{{recipe.cooking_time}}</p>

                                    </div>
                                    <br>
                                    <div class="card-content recipe-country-of-origin">
                                        <h4 class="recipe-header">Country of Origin</h4>
                                        <p>{{recipe.country_of_origin}}</p>

                                    </div>
                                    <br>
                                    <div class="card-content recipe-user-name">
                                        <h4 class="recipe-header">Uploaded by</h4>
                                        <p>{{recipe.user_name}}</p>

                                    </div>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>

    </div>
</div>



{% endblock %}