{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="heading container center">
        <h2 class="center headers">Recipe added successfully</h2>
    </div>
    <div class="container center gif-container">
        <iframe class="giffy-gif" src="https://giphy.com/embed/kg7Iw9B1sGuiCgn5u4" width="480" height="360" frameBorder="0" class="giphy-embed"></iframe>
    </div>
    <div class="container  anchor-div center">
        <a class="mainscreen-anchors center" href="{{ url_for('get_recipe')}}">Back to the directory?</a>
    </div>
    
    <div class="container anchor-div center">
        <a class="mainscreen-anchors center" href="{{ url_for('add_recipe')}}">Add another?</a>
    </div>
    <div class="container anchor-div center">
        <a class="mainscreen-anchors center" href="{{ url_for('logout')}}">Log out</a>
    </div>
</div>

{% endblock %}